{% extends "base.html" %}

{% block header %}
<header>
    <div id="header-content">
        <div id="logo-header"></div>
        <div id="menu">
            <div id="username">{% if user.first_name %}{{user.first_name|capfirst}}{% else %}{{user.username}}{% endif %}</div>
           
            <ul id="menu-dropdown">
                <li><a href="{% url disconnect %}">Sign out</a></li>
            </ul>
            
        </div>
    </div>
</header>

{% endblock %}

{% block body %}

    {% include "fragments/list.html" %}
    
{% endblock %}