{% extends "base.html" %}

{% block header %}
<header>
    <div id="header-content">
        <a id="logo-header" href="/"> </a>
        <div id="menu">
            <div id="username">{% if user.first_name %}{{user.first_name|capfirst}}{% else %}{{user.username}}{% endif %}</div>
           
            <ul id="menu-dropdown">
                <li><a href="{% url disconnect %}">Sign out</a></li>
            </ul>
            
        </div>
    </div>
</header>

{% endblock %}

{% block body %}

    {% include "fragments/list.html" %}
    
{% endblock %}

{% block custom-js %}
<script src="{{STATIC_URL}}js/ko.bindings.js"></script>
<script src="{{STATIC_URL}}js/listdnd.js"></script>
<script src="{{STATIC_URL}}js/list.js"></script>
<script src="{{STATIC_URL}}js/libs/spectrum.js"></script>
{% endblock %}

{% block custom-css-files %}
<link rel="stylesheet/less" href="{{STATIC_URL}}css/spectrum.css">
{% endblock %}