{% extends "layouts/blue.html" %}

{% block custom-js %}
    
    <script>
        var LOGIN_URL = '{% url login %}{% if next %}?next={{next}}{% endif %}';
        var GMAIL_URL = '{% url oauth2 %}';
        var SESSION_URL = '{% url session %}';
    </script>

    <script src="{{STATIC_URL}}js/login.js"></script>
    <script src="{{STATIC_URL}}js/libs/jquery-ui-1.8.18.bounce.min.js"></script>
{% endblock %}

{% block body %}

<section id="login">    
    
    {% block login %}
    
    <form id="loginform">{% csrf_token %}
        <div id="login-left">
            <input type="text" name="username" placeholder="Email Address">
            <input type="password" name="password" placeholder="Password">
        </div>
        <input type="submit" value="Login">
        <p id="forgot-your-password">forgot your password?</p>
        <div style="clear: both"></div>
    </form>
    
    <div id="or-login-with">
        <p>or sign in with <a href="javascript: gmail();" id="gmail-button">gmail</a></p>
    </div>
    
    <div id="you-dont-have-an-account">
        <p>you don't have an account?</p>
        <p>sign up <a href="/signup">here</a> or try the <a href="">anonymous version</a>.</p>
    </div>
    
    {% endblock %}
    
</section>

{% endblock %}

