{% extends "login.html" %}
{% load i18n %}

{% block template-custom-js %}
    
    <script>
        var SIGNUP_URL = '{% url signup %}';
    </script>

    <script src="{{STATIC_URL}}js/signup.js"></script>
    <script src="{{STATIC_URL}}js/libs/jquery-ui-1.8.18.bounce.min.js"></script>
{% endblock %}

{% block login %}

<section id="login" class="signup-page">  
        
        {% if validlink %}
        
        <form class="blue-content " action="" method="post"> {% csrf_token %}
        
        <h2>{% trans "Enter new password" %}</h2>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <br>
        {{ form.new_password1.errors }}
        <div class="signup-field-wrapper">
            <label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}
        </div>
    
        {{ form.new_password2.errors }}
        <div class="signup-field-wrapper">
            <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
        </div>
        
        <div id="submit-wrapper" style="margin-left: 190px">
            <input type="submit" value="{% trans 'Change my password' %}" />
        </div>
        
        <div id="errors">{{ form.email.errors }}</div>
        
        </form>
        
        {% else %}
        
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
    
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    
        {% endif %}
        

        
</section>

{% endblock %}