{% extends "login.html" %}

{% block template-custom-js %}
    
    <script>
        var SIGNUP_URL = '{% url signup %}';
    </script>

    <script src="{{STATIC_URL}}js/signup.js"></script>
    <script src="{{STATIC_URL}}js/libs/jquery-ui-1.8.18.bounce.min.js"></script>
{% endblock %}

{% block login %}
<section id="login" class="signup-page">  

    <form class="blue-content " action="" method="post">{% csrf_token %}
        <h2>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</h2>
    
        <div class="signup-field-wrapper">
            <label for="id_email">E-mail address:</label> {{ form.email }}
        </div>
    
        <div id="submit-wrapper" style="margin-left: 190px">
            <input type="submit" value="Reset my password" /></p>
        </div>
        
        <div id="errors">{{ form.email.errors }}</div>
        

</form>
</section>
{% endblock %}