{% extends "login.html" %}

{% block template-custom-js %}
    
    <script>
        var SIGNUP_URL = '{% url signup %}';
    </script>

    <script src="{{STATIC_URL}}js/signup.js"></script>
    <script src="{{STATIC_URL}}js/libs/jquery-ui-1.8.18.bounce.min.js"></script>
{% endblock %}

{% block login %}
    
    <form id="signup">{% csrf_token %}
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email">
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        
        <label for="firstname">Display name (optional)</label>
        <input type="text" id="firstname" name="firstname">
        
        <div id="submit-wrapper"><input type="submit" value="Create account"></div>
        
        <div style="clear: both"></div>
        
        <div id="errors"></div>
    </form>
    
{% endblock %}