@import "normalize.less";


/* ===== Primary Styles ========================================================
   Author: rcarton / troebr.net
   
   ========================================================================== */

/* ---- colors ---- */
@grey1: #2e2e2e;
@greyborder: #e8e8e8;
@mediumgrey: #4a4a4a;
@blue: #60b9da;
@blueborder: #5ba3bc;
/*@highlight: rgba(255, 255, 255, 0.4); // doesn't render well in firefox - 78f4ff*/
@highlight: #a3dded;

.box-shadow(@values) {
    -moz-box-shadow: @values;
    -webkit-box-shadow: @values;
    box-shadow: @values;
}

input::-webkit-input-placeholder {
    color:    #aaa;
}
input:-moz-placeholder {
    color:    #aaa;
}

.border-radius(@value) {
	-webkit-border-radius: @value;
	-moz-border-radius: @value;
	border-radius: @value;
}

.default-box-shadow {
    .box-shadow(hsla(0, 0%, 0%, 0.4) 0px 1px 3px);	
}
	
.text-shadow(@values) {
    -moz-text-shadow: @values;
    -webkit-text-shadow: @values;
    text-shadow: @values;
}

@duration1: 0.25s;
.transition {
    transition: all @duration1;
    -webkit-transition: all @duration1;
    -moz-transition: all @duration1;
    -o-transition: all @duration1;
}

.transitionvalues(@values) {
    transition: @values;
    -webkit-transition: @values;
    -moz-transition: @values;
    -o-transition: @values;
}

.button-gradient(@opacity) {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,@opacity) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,@opacity))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,@opacity) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,@opacity) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,@opacity) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,@opacity) 100%); /* W3C */
}


@button-color: #fafafa;
@button-border-color: darken(@button-color, 32%);
.button {
	
    border-radius: 3px;
    border: 1px solid @button-border-color;
    .button-gradient(0.1);
    .box-shadow(inset rgba(255, 255, 255, 0.5) 0px 1px 0px);
    .text-shadow(white 0px 1px 0px);
    display: block;
    padding: 0 8px;
    text-align: center; 
    height: 56px;
    background-color: @button-color;
    color: darken(@button-color, 50%);
    /*.text-shadow(rgba(255, 255, 255, 0.35) 0px 1px 0px);*/
    .transition;
    
    &:hover {
        background-color: darken(@button-color, 8%);
        cursor: pointer;
        color: #06e;    
    }
}

.button3d {
    .button;
    .box-shadow(~"inset rgba(255, 255, 255, 0.5) 0px 1px 0px, inset #888 0px -2px 0px");
    .transitionvalues(none);
    
    &:active {
        .box-shadow(inset rgba(255, 255, 255, 0.5) 0px 1px 0px);
        margin-top: 2px;
        margin-bottom: -2px;
        height: 54px;
    }
}

.button3d-thin {
	.button3d;
	.box-shadow(~"inset rgba(255, 255, 255, 0.5) 0px 1px 0px, inset #888 0px -1px 0px");
}


/* ---- helpers ---- */
/* ---- Z-Indexing ----*/
/* ---- Stylin' ---- */

html, body {}
body{ 
	font:12px/20px 'Open Sans', Helvetica, Helvetica Neue, Arial;
	/*font:12px/20px RobotoRegular, Helvetica, Helvetica Neue, Arial;*/
    background: url(../img/backgrounds/rough_diagonal.png);
}
p { margin: 0; }
a { text-decoration: none; }	
h1, h2, h3, h4 { margin: 0; line-height: initial; color: @grey1; }
ul, li {margin: 0; padding: 0;}
li { list-style-type: none;}

header {
	@header_height: 36px;
	
    background-image: url(../img/header-bg-highlight.png);
	background-repeat: repeat-x;
	background-position: 0 14px;
    height: @header_height;
    width: 100%;
    background-color: @blue;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px;
    border-bottom: 1px solid @blueborder;
    z-index: 200;
    
    #header-content {
        width: 100%;
        height: 100%;
        
        #logo-header {
	        width: 141px;
	        display: block;
	        height: 100%;
	        background-image: url('../img/logo-header.png');
	        background-repeat: no-repeat;
	        background-position: 0 1px;
	        //cursor: pointer;
	        float: left;
	        margin-left: 20px;
        }
    
        #menu {
            @padding_triangle: 17px;
        
            height: 100%;
            float: right;
            color: #36687a;
            margin-right: 20px;
            
            #username {
                float: right;
                height: @header_height + 1;
                line-height: 40px;
                background-image: url(../img/menu-triangle.png);
                background-repeat: no-repeat;
                background-position: 100% 63%;
                padding: 0 @padding_triangle 0 8px;
                text-shadow: 0px 1px 0px @highlight;
                
                &:hover {
	                background-color: rgba(255, 255, 255, 0.22);
	                .transitionvalues(background-color 0.2s);
	                cursor: pointer;
                }
                
                img {
                    vertical-align: text-bottom;
                    padding-right: 3px;
                }
            }
            
            #menu-dropdown {
                display: none;
                
                clear: left;
                background-color: white;
                margin-top: @header_height + 1;
                margin-right: -1px;
                border-bottom: 1px solid #c9c9c9;
                border-left: 1px solid #c9c9c9;
                border-right: 1px solid #c9c9c9;
                box-shadow: rgba(35, 26, 26, 0.4) 0px 1px 3px -1px;
                
                &.active { display: block; }
                
                li {
                    a { display: inline-block; padding: 2px 4px; width: 120px; color: @mediumgrey;
                     &:hover { color: @mediumgrey; }
                    }
                    &:hover { background-color: #ececec; }
                }
            }
        }        
    }
    

}

/* --- login ---- */

#login {
	
	.textinset {
	   color: #36687a;
	   text-shadow: 0px 1px 0px @highlight;
    }
	
	.divinset {
	   .border-radius(8px);
	   .box-shadow(inset 0px 1px 2px rgba(50, 50, 50, 0.5));
	}
	
	background-image: url(../img/login-logo.png);  
	margin: 0 auto;
	width: 100%;
	height: 400px;
	max-width: 600px;
	padding-top: 180px;
	background-repeat: no-repeat;
    background-position: left 180px;
        
	a { font-weight: bold; color: inherit; &:hover { color: darken(#36687a, 15%); .transition; } }
	p { font-size: 15px; font-family: Arvo, Arial; .textinset; } 
	
    .form-error { 
            
         @color: #d0717f;
         
         position: absolute;
         float: left;
         line-height: 24px;
         background: @color;
         padding: 0 0.6em;
         white-space: nowrap;
         margin: 1px 0 0 20px;
         box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px;
         
         &:before {
             display: block;
             height: 0;   
             content: '';
             position: absolute;
         }
         
         &.down:before { 
             border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #D0717F;
             margin-left: -3px;
	         margin-top: 20px
         }
         &.left:before {
             border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-right: 10px solid @color;
             margin-left: -13px;
             margin-top: 2px;
         }
         
     } 
        
	form {
	    padding: 1em 0;
        position: relative;
        left: 255px;
	    top: 14px;
	    width: 400px;
	    
	    #login-left {
	       float: left;
        }
	    
	    label {
	       display: block;
	       width: 190;
	       float: left;
	       .textinset;
	       font-size: 17px;
	       margin: 0 0 0.2em 0.2em;
	       clear: both;
	    }
	    
	    input[type=text], input[type=password] {
	        display: block;
	        width: 190px;
	        float: left;
	        position: relative;
	        left: 0px;
	        margin: 0 0 0.49em 0;
	        border: 1px solid @blueborder;
	        line-height: 21px;
	        clear: both;
	        padding: 2px 0 0 3px;
	        .border-radius(4px);
	        .box-shadow(~"inset hsla(0, 15%, 12%, 0.16) 0px 1px 2px 1px, rgba(255,255,255, 0.4) 0px 1px 0px");
	        
	    }
	    
	    input[type=submit] {
	        .button3d;
	        float: left;
	        margin: 0 0 0 0.25em;
	        font-size: 1.4em;
	        line-height: 39px;
	        padding: 0.5em 0.8em 0.5em 0.8em;
	        display: inline-block;
	        border: 1px solid @blueborder;
	        text-shadow: white 0px 1px 0px;
	    }
	    
	    #forgot-your-password {
			clear: left;
			font-size: 0.9em;
			margin-top: -7px;
			float: left;
	    }
	    
    }
    
    #or-login-with {
        float: left;
        position: relative;
        left: 255px;
        top: 14px;
        padding-right: 95px;
        
        #gmail-button {
            .button3d-thin;
            float: none;
            display: block;
            margin-bottom: 2px;
            position: absolute;
            right: 0px;
            top: 0px;
            font-weight: normal;
            font-size: 13px;
            
            &:before {
				display: inline-block;
				height: 16px;
				width: 22px;
				content: '';
				position: relative;
				left: -4px;
                top: 3px;
                background-image: url('../img/gmail-small.png');
                background-repeat: no-repeat;
                padding-right: 5px;
                border-right: 1px solid @button-border-color;
            }
            
        }
    }
    
    #you-dont-have-an-account {
	    clear: both;
		float: left;
		position: relative;
		top: 160px;
		left: 50%;
		padding: 0 0 0 0;
		width: 472px;
		height: 73px;
		background-image: url(../img/youdonthaveanaccount-bg.png);
		margin-left: -274px;
        
		p { position: relative; top: 20px; left: 107px; }
		p+p { top: 16px; left: 127px; }
    }
    
    
    #signup {
        width: 250px;
        left: 280px;
        padding-top: 0px;
        border-left: 2px solid @blueborder;
		padding-left: 4em;

        input[type=text], input[type=password] { width: 100%; }
        #submit-wrapper { margin: 0.8em 0 0 0; float: right; clear: both; }
        input[type=submit] { 
            height: 30px; 
            line-height: 30px; 
            padding: 0 2em;
            
            &:active {
                height: 28px;
            }
        }
    }
    
}


/* ---- list ---- */
.button3d-thin {
            height: 24px;
            float: right;
            margin-left: 3px;
            margin-right: 3px;
            
            &:active { height: 23px; margin-bottom: -1px; padding-top: 1px;}
}

.popup {
    .default-box-shadow;
    background-color: white;
    width: 240px;
    z-index: 301;
    position: fixed;
    top: 15%;
    left: 50%;
    margin-left: -120px; 
    
    h3 {
        font-size: 19px;
        text-align: center;
        font-weight: 300;
        color: @grey1;
        width: 100%;
        font-family: 'Open Sans Condensed', sans serif;
        border-bottom: 1px solid @greyborder;
        margin: 0 0 9px 0;
    }
    
    .popup-content {
        margin-top: 9px;
        padding: 0 8px 8px 8px;
        
        input[type="text"] { 
            /*background-color: transparent;*/
            border: 0;
            .box-shadow(~"inset rgba(35, 26, 26, 0.16) 1px 1px 3px 1px"); 
            padding-left: 2px;
        }
    }
    
    .popup-menu {
        text-align: right;
        padding: 5px;
        margin: 1em 0 0 0;
    }
}

#item-edit {
	@width: 340px;
	width: @width;
	margin-left: -@width/2;
	
	input[type="text"] { 
	   width: 99%;
	}
	
}
#list-edit {


    #list-edit-content {

        input[name="title"] { 
            width: 75%; 
        }
        
        
        div.sp-replacer {
            .button3d-thin;
            height: 16px;
			padding: 2px 0 0 4px;
			display: inline-block;
			width: 36px;
			padding: 2px 0 0 4px;
            float: right;
			margin-right: 0px;

            &:active {
                height: 15px;
                margin-top: 1px;
                margin-bottom: -1px;
            }
            
            .sp-preview {
				width: 18px;
				height: 11px;
				padding-top: 0px;
				margin-right: 2px;
				border: 1px solid #999999;
            }
            
            .sp-dd {
                height: 11px; line-height: 11px; padding: 1px 0;
            }
               
        }
        
    }
    
    #list-edit-menu {}
    
}
button.sp-choose { .button3d-thin; }


#list-container {
    width: 100%;
    /*max-width: 400px;*/
    /*height: 300px;*/
    margin: 50px auto 0 auto;
    
    > ul {
        margin: 0 auto;
    }
}


li.list {
    @border-radius: 2px;
        
	width: 360px;
    margin: 0.75em 0;
    padding-top: 4px;   /* prevent the shadows from being in the wrong column */
    
    /*&.minimized {
        ul.list-inner, .add-task { display: none; }
    }*/
    
    .li-wrapper {
        background-color: white;
        box-shadow: hsla(0, 15%, 12%, 0.4) 0px 1px 3px 0px; 
        .border-radius(@border-radius);
    }
    
    .li-header { 
        @list-header-height: 26px;
        
        box-shadow: inset rgba(255, 255, 255, 0.65) 0px 1px 0px;
        .border-radius(@border-radius);
        font-family: 'Open Sans Condensed', sans serif;
        overflow: hidden;
        margin: 0;
        padding: 0 8px 0 0;
        height: @list-header-height;
        
        .li-menu {
            /*background-image: url('../img/list-header-triangle.png');
            background-position: center 60%;
            background-repeat: no-repeat;*/
            float: left;
            height: @list-header-height;
            width: 26px;
            position: absolute;
            font-size: 12px;
            font-family: 'Open Sans', sans serif;
            .transitionvalues(background-color 0.2s);
            
            .li-button {
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid rgba(0,0,0, 0.35);
				margin-left: 7px;
				margin-top: 12px;
				position: absolute;	
            }
            
            &:hover {
                cursor: pointer; 
                background-color: rgba(255, 255, 255, 0.3);
                .li-button { border-top: 4px solid rgba(255,255,255, 0.7);}
            }
            
            ul {
                display: none;
                background-color: white;
                float: left;
                margin-top: @list-header-height;
                border-bottom: 1px solid #c9c9c9;
                border-left: 0px solid #c9c9c9;
                border-right: 1px solid #c9c9c9;
                box-shadow: rgba(35, 26, 26, 0.4) 0px 1px 3px -1px;
                z-index: 101;
                position: absolute;
                
                a { display: inline-block; padding: 2px 16px 2px 4px; width: 120px; color: @mediumgrey;
                 &:hover { color: @mediumgrey; background-color: #ececec;}
                }
            }
            
        }
        
        h2 {
	        font-size: 19px;
            text-align: right;
	        overflow: hidden;
	        font-weight: 300;
	        color: @grey1;
	        float: right;
        }
    }
    
    
    
    ul.list-inner {
        
        /*margin-top: @list_title_height;*/
        
        li {
            
            font-size: 11px;
            line-height: 13px;
            border-bottom: 1px solid @greyborder; 
            color: @mediumgrey;
            padding: 4px 4px 4px 7px;
            overflow: hidden;
            
            &.dndover {
                border-top: 3px solid @greyborder;
            }
            
            &.crossed {
                text-decoration: line-through;
            }
            
            &:hover {
               cursor: pointer;
               .transition;
            }
            
            input {
                width: 90%;
            }
        }
    }
    
    .add-task {
        border: 0;
        width: 100%;
        /*position: fixed;
        bottom: 0;
        box-shadow: #ffffff 0px -@shadow_height @shadow_height;
        border-top: 1px solid @greyborder; 
        border: 0;*/
        text-align: center;
    }
}

#bottom-menu {
    width: 72px;
	margin: 3em auto 0 auto;
	border-radius: 11px;
	padding: 11px;
	text-align: center;
	box-shadow: inset rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;	
	
	.button3d {
        height: 30px;
        display: inline-block;
        &:active { height: 28px; margin-bottom: -3px; padding-top: 1px;}
    }
}

@import "media-queries.less";
@import "print.less";
