<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="http://lipstr.com">lipstr</a>
        
        <div class="nav-collapse">
          <ul data-bind="foreach: boards" id="board-list" class="nav nav-pills">
          
              <!-- Active or not -->
              <!-- ko if: $root.currentBoard()==id -->
              <li data-bind="attr: {class: 'active dropdown'}, template: { name: 'board-menu-item-template', data: $data }">
                
              </li>
              <!-- /ko -->
              
              <!-- ko if: $root.currentBoard()!=id -->
              <li data-bind="attr: {class: ''}">
                <a href="#" data-bind="text: title(), attr: {'data-board-id': id}, click: function() { $root.switchBoard(id); }"></a>
              </li>
              <!-- /ko -->
              
          </ul>
          
          <script type="text/html" id="board-menu-item-template">
            <a data-bind="html: titleDisplayed, attr: {'data-board-id': id, class: 'dropdown-toggle', 'id': 'board-' + id}, enableBootstrapDropdown: {}"></a>
                <ul class="dropdown-menu">
                    <li><a data-bind="text: 'Rename board', click: renameBoard"></a></li>
                    <li><a data-bind="text: 'Delete board', click: deleteBoard"></a></li>
                </ul>
          </script>
          
          
           
          <ul class="nav pull-right">
              <li><a href="javascript: TaskListViewModel.instance.addTaskList();"><b class="icon-list-alt"></b>new list</a></li>
              <li><a href="javascript: Board.addBoard();"><b class="icon-th"></b>new board</a></li>
              {% comment %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    {#<li><a href="javascript: Board.addBoard();">new board</a></li>#}
                    {#<li><a href="javascript: TaskListViewModel.instance.addTaskList();">new list</a></li>#}
                    {#<li class="divider"></li>#}
                    {#<li class="nav-header">Nav header</li>#}
                  </ul>
                </li>
              {% endcomment %}
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="profile_icon" src="{{ user.get_profile.get_icon_url }}"> {% if user.first_name %}{{user.first_name|capfirst}}{% else %}{{user.username}}{% endif %}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url preferences %}">Preferences</a></li>
                <li class="divider"></li>
                <li><a href="{% url disconnect %}">Sign out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>

{% comment old menu %}
<div id="header">

    {# <a id="logo-header" href="/"> </a>#}
        
    <div id="bar-menu">
        <ul>
            {% for board in boards %}
                <li {% if forloop.first %}class="active"{% endif %}>{{ board.title|lower }}</li>
            {% endfor %}
        </ul>
        
        <div id="bar-menu-actions">
            + Add
        </div>
    </div>
    
    <div id="user-menu">
        
        {# <img class="profile_icon" src="{{ user.get_profile.get_icon_url }}"> #}
        
        <ul>
           <li>{% if user.first_name %}{{user.first_name|capfirst}}{% else %}{{user.username}}{% endif %} </li>
           <li> <a href="{% url preferences %}">Preferences</a></li>
           <li> <a href="{% url disconnect %}">Sign out</a></li>
        </ul>
        
    </div>
</div>
{% endcomment %}

