

<div id="list-container">
    
    <ul data-bind="foreach: tasklists, visible: tasklists().length > 0">
        <li class="list" data-bind="attr: {'data-id': id, 'data-masonry-id': id}">
            <div class="li-wrapper">
                
                {# ---- List header ---- #}
                <div class="li-header" data-bind="attr: {style: 'background-color: '+ color() },
                                                  taskClick: {
                                                    dragclick: function(e) { 
                                                      var dnd = new ListDND(e.currentTarget);
                                                      dnd.drag(); 
                                                    }
                                                  }">
                    <div class="li-menu" data-bind="click: TaskList.toggleLiMenu">
                        <div class="li-button"> </div>
                        <ul class="li-menu-dropdown">
                            <li><a href="" data-bind="click: function() { $data.editList(); }">edit list</a></li>
                            <li><a href="" data-bind="click: function() { $root.remList($data); }">remove list</a></li>
                        </ul>
                    </div>
                    <h2 class="li-title" data-bind="text: title().toUpperCase()"></h2>
                </div>
                
                {# ---- List content ---- #}
                <ul class="list-inner" data-bind="foreach: items, attr: {'data-id': id}, visible: items().length > 0">
                    
                    <li data-bind="taskClick: {click: function(e) { 
                                                        if($(e.target).parent().hasClass('list-item-menu')){ return false;}
                                                         $data.editAttribute($parent, 'crossed', !$data.crossed());
                                                      }, 
                                               dragclick: function(e) { 
                                                    var dnd = new TaskDND(e.currentTarget, $root, $parent, $data);
                                                    dnd.drag(); 
                                                    
                                                },
                                               dblclick: function(e) { $root.remTask($parent, $data); },
                                               longclick: function(e) { $data.editItem($parent); },
                                               rightclick: function(e) { console.log('rightclick'); }},
                                   attr: {'data-id': id,
                                          'class': crossed()?'crossed': ''
                                         }">
                       <a data-bind="text: description"></a>
                       <span class="list-item-menu">
                           <i data-bind="attr: {'class': 'icon-edit'},
                                         click: function(d, e) { e.stopImmediatePropagation(); $data.editItem($parent);}, clickBubble: false"></i>&nbsp;
                           <i data-bind="attr: {'class': 'icon-remove'},
                                         click: function(d, e) { $root.remTask($parent, $data); }, clickBubble: false"></i></span>
                    </li>
                    
                    
                </ul>
                
                <form data-bind="submit: function() { $root.addTask($data); }">
                    <input class="add-task" data-bind="value: newTaskText" placeholder="What needs to be done?" />
                    
                    {# <button type="submit">Add</button>#}
                </form>
            </div>
        </li>
    </ul>
    
</div>

<div id="list-edit" class="popup" style="display: none;">
    <h3>Edit List</h3>
    <div id="list-edit-content" class="popup-content">
        <input type="text" name="title" data-property="title">
        <input type="color" name="color" data-property="color">
    </div>
    <div id="list-edit-menu" class="popup-menu">
        <input class="button3d-thin" type="submit" value="save">
        <input class="button3d-thin" type="submit" value="cancel">
        <div style="clear: both"></div>
    </div> 
</div>

<div id="item-edit" class="popup" style="display: none;">
    <h3>Edit Item</h3>
    <div id="item-edit-content" class="popup-content">
        <textarea type="text" name="description" data-property="description"></textarea>
    </div>
    <div id="item-edit-menu" class="popup-menu">
        <input class="button3d-thin" type="submit" value="save">
        <input class="button3d-thin" type="submit" value="cancel">
        <div style="clear: both"></div>
    </div> 
</div>

<script>
    var BOARDS = [{% for b in boards %} '{{ b.id }}' {% if not forloop.last %}, {% endif %} {% endfor %}];
</script>