
<div id="list-container">
    
    <ul data-bind="foreach: tasklists, visible: tasklists().length > 0">
        <li class="list" data-bind="attr: {'data-id': id}">
            <div class="li-wrapper">
                
                {# ---- List header ---- #}
                <div class="li-header" data-bind="attr: {style: 'background-color: '+ color() }">
                    <div class="li-menu" data-bind="click: TaskList.toggleLiMenu">
                        <div class="li-button"> </div>
                        <ul class="li-menu-dropdown">
                            <li><a href="" data-bind="click: function() { $root.renameList($data); }">rename list</a></li>
                            <li><a href="" data-bind="click: function() { $root.remList($data); }">remove list</a></li>
                        </ul>
                    </div>
                    <h2 class="li-title" data-bind="text: title().toUpperCase()"></h2>
                </div>
                
                {# ---- List content ---- #}
                <ul class="list" data-bind="foreach: items, attr: {'data-id': id}, visible: items().length > 0">
                    <li data-bind="text: description, taskClick: {click: function() { $root.remTask($parent, $data)}, longClick: editItem, dbClick: editItem}, attr: {'data-id': id}"></li>
                </ul>
                
                <form data-bind="submit: function() { $root.addTask($data); }">
                    <input class="add-task" data-bind="value: newTaskText" placeholder="What needs to be done?" />
                    
                    {# <button type="submit">Add</button>#}
                </form>
            </div>
        </li>
    </ul>
    
    <div id="bottom-menu">
        <input data-bind="click: function() { addTaskList(); }" class="button3d" type="submit" value="Add list">
    </div>
    

    
</div>

